# Nombre del proyecto de Docker Compose
COMPOSE_PROJECT_NAME=heladeria_felipe

# Puertos que se utilizan en Windows
FRONTEND_PORT=5173
BACKEND_PORT=5000
POSTGRES_HOST_PORT=5433

# Configuración interna de PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=12345
POSTGRES_DB=heladeria